<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (08/30/2023, 40 points in total)**
This exercise is due tomorrow 08/31/203 11:59 PM.

(1) Write a Python program to calculate the area of a rectangle using user-input length and width.

In [ ]:
# write your answer here
L=int(input())
W=int(input())
A=L*W
print("Area:")
print(A)

8
9
Area:
72

(2) Create a program that takes two numbers from the user and swaps their values without using a temporary variable.

In [ ]:
a=int(input())
b=int(input())
a=a+b
b=a-b
a=a-b
print("values after swapping")
print('a')
print(a)
print('b')
print(b)

1
2
values after swapping
a
2
b
1

(3) Write a Python program to calculate the length of a string.

In [ ]:
# write your answer here
a=str(input())
print(len(a))

hello world my friend
21

(4) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
def characters(input_string):
    char_count = {}
    for char in input_string:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1
    return char_count

string="University of north texas"
result = characters(string)
print(result)

{'U': 1, 'n': 2, 'i': 2, 'v': 1, 'e': 2, 'r': 2, 's': 2, 't': 3, 'y': 1, ' ': 3, 'o': 2, 'f': 1, 'h': 1, 'x': 1, 'a': 1}

(5) Write a Python program to sum all the items in a list.

In [ ]:
a=[1,2,3,4,5,6]
count=sum(a)
print(count)

21

(6) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself.

Sample String : 'restart‘,

Expected Result : 'resta\$t'

In [ ]:
def replace(string):
    if not string:
        return string

    first_char = string[0]
    modified_string = first_char + string[1:].replace(first_char, '$')
    return modified_string

string = input("Enter a string: ")
result = replace(string)
print("Modified string:", result)

Enter a string: return
Modified string: retu$n

(7) Create a program that calculates the factorial of a number using a while loop.

In [ ]:
# write your answer here
def factorial(n):
    if n < 0:
        return None
    elif n == 0 or n == 1:
        return 1
    else:
        result = 1
        while n > 1:
            result *= n
            n -= 1
        return result

n = int(input("Enter a number: "))
factorial_result = factorial(n)
print(f"The factorial is {factorial_result}")

Enter a number: 7
The factorial is 5040

(8) Create a program that takes a list of numbers as input and outputs a new list with only the even numbers.

In [ ]:
# write your answer here
a=[1,2,3,4,67,89,11,23,88,90,78,90,100,1000]
b= [i for i in a if i%2==0 ]
print(b)

[2, 4, 88, 90, 78, 90, 100, 1000]

(9) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where

$\ S=3.14*(1+a/b)^3$

In [ ]:
# write your answer here
a=int(input())
b=int(input())
s=3.14*(1+a/b)**3
print(s)

1
2
10.5975

(10) Write a Python program to concatenate following dictionaries to create a new one.

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dic1={'1':10, '2':20}
dic2={'3':30, '4':40}
dic3={}
dic3 = {**dic1, **dic2}
print(dic3)

{'1': 10, '2': 20, '3': 30, '4': 40}

(11) Write a Python function that accepts a tuple of integers and returns the largest and smallest elements.

In [ ]:
def find(tuple):
    if not tuple:
        return None, None

    min_num = float('inf')
    max_num = float('-inf')

    for num in tuple:
        if num < min_num:
            min_num = num
        if num > max_num:
            max_num = num

    return min_num, max_num

# Example usage
tuple = (4, 9, 2, -3, 8, 0)
min, max = find(tuple)
print(f"Minimum value: {min}")
print(f"Maximum value: {max}")

Minimum value: -3
Maximum value: 9

(12) Write a Python program that counts the frequency of each character in a given string and stores it in a dictionary.

In [ ]:
def count(string):
    frequency = {}  # Dictionary to store character frequencies

    for char in string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1

    return frequency

string = input("Enter a string: ")
character_counts = count(string)

print("frequencies:")
for char, count in character_counts.items():
    print(f"'{char}': {count}")

Enter a string: hello world
frequencies:
'h': 1
'e': 1
'l': 3
'o': 2
' ': 1
'w': 1
'r': 1
'd': 1

(13) Write a Python program to check whether an element exists within a tuple.

In [ ]:
def element(element, tuple):
    return element in tuple

# Example usage
tuple = (1, 2, 3, 4, 5)
element_to_check = int(input("Enter an element to check: "))

if element(element_to_check, tuple):
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

Enter an element to check: 3456789
3456789 does not exist in the tuple.

(14) Write a Python program to find maximum and the minimum value in a set.

In [74]:
input_set = {10, 5, 23, 7, 15, 2}
max_value = max({10, 5, 23, 7, 15, 2})

print(f"Maximum value in the set: {max_value}")

TypeError: ignored

(15) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list:
student_list_fall_2023=['sb1826' ,
 'lb0582' ,
 'ab1820' ,
 'sb1883' ,
 'mb1296' ,
 'sc1622' ,
 'tc0469' ,
 'ac1770' ,
 'mc1453' ,
 'ad1187' ,
 'sd0926' ,
 'sd1268' ,
 'ag1609' ,
 'sg1638' ,
 'mg1299' ,
 'vkk0022' ,
 'bk0413' ,
 'gk0257' ,
 'am2807' ,
 'gm0558' ,
 'pm0658' ,
 'am2346' ,
 'rm1090' ,
 'sm2364' ,
 'sm2747' ,
 'sm2343' ,
 'vm0597' ,
 'htn0086' ,
 'sp2075' ,
 'gp0306' ,
 'lp0502' ,
 'sr1508' ,
 'vr0331' ,
 'yr0180' ,
 'as2819' ,
 'ss2981' ,
 'ns0756' ,
 'mt0825' ,
 'dt0463' ,
 'su0137' ,
 'dv0310'
]

In [ ]:
import random

def students_into_groups(students, num_groups):
    random.shuffle(students)  # Shuffle the list of students

    groups = [[] for _ in range(num_groups)]  # Create empty groups
    group_idx = 0

    for student in students:
        groups[group_idx].append(student)
        group_idx = (group_idx + 1) % num_groups  # Cycle through groups

    return groups

students=['sb1826' , 'lb0582' , 'ab1820' , 'sb1883' , 'mb1296' , 'sc1622' , 'tc0469' , 'ac1770' , 'mc1453' , 'ad1187' , 'sd0926' , 'sd1268' , 'ag1609' , 'sg1638' , 'mg1299' , 'vkk0022' , 'bk0413' , 'gk0257' , 'am2807' , 'gm0558' , 'pm0658' , 'am2346' , 'rm1090' , 'sm2364' , 'sm2747' , 'sm2343' , 'vm0597' , 'htn0086' , 'sp2075' , 'gp0306' , 'lp0502' , 'sr1508' , 'vr0331' , 'yr0180' , 'as2819' , 'ss2981' , 'ns0756' , 'mt0825' , 'dt0463' , 'su0137' , 'dv0310' ]
groups = 10

student_groups = students_into_groups(students, num_groups)

for group_num, group in enumerate(student_groups, start=1):
    print(f"Group {group_num}: {', '.join(group)}")

Group 1: dt0463, yr0180, mt0825, mc1453, ss2981
Group 2: vkk0022, am2807, su0137, lp0502
Group 3: tc0469, rm1090, sg1638, gm0558
Group 4: sp2075, ns0756, dv0310, sb1826
Group 5: as2819, vm0597, gk0257, sd1268
Group 6: pm0658, htn0086, sb1883, sm2747
Group 7: sd0926, gp0306, lb0582, ac1770
Group 8: ad1187, vr0331, ab1820, bk0413
Group 9: sm2364, sc1622, sm2343, ag1609
Group 10: sr1508, mb1296, mg1299, am2346

(16) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements.

In [ ]:
def duplicate(arr):
    exist = set()
    duplicates = set()

    for num in arr:
        if num in exist:
            duplicates.add(num)
        else:
            exist.add(num)

    return list(duplicates) if duplicates else -1

# Example usage
array = [1,5,3,6,8,9,0,1,2,3,4,3,2]
duplicate_elements = duplicate(array)

if duplicate_elements == -1:
    print("No duplicate elements found.")
else:
    print("Duplicate elements:", duplicate_elements)

Duplicate elements: [1, 2, 3]

(17) Write a Python program to select all the Sundays of a specified year.

In [ ]:
# write your answer here

(18) Build a program that calculates the factorial of a given positive integer. The factorial of a non-negative integer n is the product of all positive integers less than or equal to n.

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

try:
    num = int(input("Enter a positive integer: "))
    if num < 0:
        print("Factorial is not defined for negative numbers.")
    else:
        result = factorial(num)
        print(f"The factorial of {num} is {result}")
except ValueError:
    print("Invalid input. Please enter a valid positive integer.")

Enter a positive integer: 10
The factorial of 10 is 3628800

(19) Write a program that takes a positive integer n as input and prints the count of even numbers from 1 to n. Use a loop to iterate through the numbers and utilize the break statement to optimize the loop.

In [ ]:

count=0
n=int(input())
for i in range(1,n+1):
  if i%2== 0:
    count += 1

print(count)

10
5

(20) Write a Python function called count_vowels that takes a string as input and returns the count of vowels (both lowercase and uppercase) present in the string. Consider the vowels to be 'a', 'e', 'i', 'o', and 'u'. Ignore spaces and other non-alphabetic characters.

In [ ]:
def count(string):
    vowels = "aeiouAEIOU"  # Both lowercase and uppercase vowels

    count = 0
    for char in string:
        if char in vowels:
            count += 1

    return count
string = input("Enter a string: ")
vowel_count = count(string)
print("Number of vowels:", vowel_count)

Enter a string: HeeE
Number of vowels: 3